* {
    margin: 0;
    padding: 0;
}
body {
    background: url(../img/klee-587479_1280.png) no-repeat fixed  ;
    width: 100%;
    background-size: cover;     
}
#welcome {   
    background:url(../img/house-163526_1280.jpg) no-repeat center ;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* display: flex;  
    flex-direction: column;   
    align-items: center;   */
}
.info-bg {
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 10px;
}
.info {
    text-align: left;
    font-size: 1.5rem;
}
#test-container {
    display: none;
}
.test-info {
    text-align: center;
}
#title-test {
    height: 20vh;
    padding: 20px;
    background: url(../img/city-1252643_1280.png) no-repeat center ;
    background-size: contain;
}
.btn{
    padding: 10px 10px;
    font-size: 1rem;
    margin:20px; 
    font-weight: bold;
    background-color: red;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    outline: none;
}
.start-btn{
    border: none;
    cursor: pointer;
    animation: zoom 1s infinite ease-in-out alternate-reverse;
}

@keyframes zoom {
    to{transform: scale(1.1);}
}

#result-btn-click {
    background-color: green;   
    color: #fff;
    display: none; 
}
#result-btn {
    text-align: center;
}
#result-btn-click:hover {
    background: red;
}
#result-box {
    display: flex;
    justify-content: flex-end;
}

#result {
    display: none;
    text-align: left;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 5px 35px;
    font-size: 2rem;
    /* border: 3px solid orangered;
    border-top: 10px solid orangered; */
    /* background-color:rgba(200, 255, 0, 0.6); */
    border-radius: 5px;
    background: url(../img/result.png) no-repeat;
    background-size: contain;
    height: 330px;
   
}
#result img{
    max-width: 200px;
}
    

#time-coutdown {
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: middle;
}
.answer {
    padding-left: 20px;
}
.answer > label {
    display: block;
    /* width: 50%; */
    padding: 5px 0;
}
.answer > label:hover {
    color: blue;
    cursor: pointer;
}
.answer > label > span{
    display: inline-block;    
    padding: 0 10px;
}
input:checked + span {
    background: yellow;
    border-radius: 10px ;
    border: 1px solid green;
}
#question-contanier {
    display: none;
    max-width: 1100px;
    margin: 0 auto;
    font-size: 1.5em;
    padding: 10px 100px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border-width: 5px !important;
}
@media screen and (max-width:720px){
    #question-contanier {
       padding: 0 10px;
    }
}
input[type="radio"] {
    transform: scale(1.5);
    cursor: pointer;    
}
._correct {
    background-color: green !important;
    border-radius: 10px ;
    border: 1px solid green;
}
/* .correct {
    background:green !important;
    border-radius: 10px ;
    border: 1px solid green;
} */
/* .incorrect {
    background: red !important;
    border-radius: 10px ;
    border: 1px solid green;
} */
.not-check {
    background: rgba(255, 0, 0, 0.5) !important;
    border-radius: 10px ;
    border: 1px solid green;
}
.check-correct {
    background-color: green !important;
    border-bottom: 3px solid red;
    position: relative;
}
.check-correct::after {
    content: "\2714";
    color: blue;
    font-size: 1.5em;
    font-weight: bolder;
    position: absolute;
    top: -10px;
    margin-left: 10px;
    left: 100%;

}
.check-incorrect {
    background: red !important;
    position: relative;
}
.check-incorrect::after{
    content: "\2718";
    color: red;
    font-size: 1.5em;
    font-weight: bolder;
    position: absolute;
    top: -10px;
    margin-left: 10px;
    left: 100%;
}


#popup {
    position: fixed;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgb(0, 0, 0, 0.7);
}
#popup-confirm {
    margin: auto;
    border: 3px solid orangered;
    border-top: 15px solid orangered;
    font-size: 1.5rem;
    background: #fff;
    color: #000;
    border-radius: 5px;
    
}
#confirm-text{
    padding: 0 100px;
}
.confirm-icon {
    text-align: center;
    margin-top: 20px;
}
#confirm-btn {
    display: flex;
    justify-content:  space-evenly;
    margin: 20px;
}
#confirm-btn button {
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 5px;
    border: none; 
}
.btn-ok {
    background: green;
}
.btn-cancel {
    background:gold;
}

