* {
    margin: 0;
    padding: 0;
}
body {
    background: url(../img/klee-587479_1280.png) no-repeat fixed  ;
    background-size: cover;     
}
#welcome {   
    background:url(../img/house-163526_1280.jpg) no-repeat center ;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;       
}
#welcome-btn {
margin: auto ;
text-align: center;
}

#test-container {
    display: none;
}
.test-info {
    text-align: center;
}
#title-test {
    height: 20vh;
    padding: 20px;
    background: url(../img/city-1252643_1280.png) no-repeat center ;
    background-size: contain;
}
.btn{
    padding: 5px 10px;
    font-size: 1rem;
    margin:20px; 
    font-weight: bold;
    background-color: red;
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    outline: none;
}
.start-btn{
    font-size: 2rem;
    padding: 20px;
    box-shadow: 0 9px #789;
}

.start-btn:hover {
    background-color: blue;
}
.start-btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#result-btn-click {
    background-color: green;   
    color: #fff;
    display: none; 
}
#result-btn {
    text-align: center;
}
#result-btn-click:hover {
    background: red;
}
#result-box {
    display: flex;
    justify-content: flex-end;
}
#result {
    display: none;
    text-align: left;
    margin-right: 20px;
    padding: 5px 30px;
    font-size: 2rem;
    border: 5px double orangered;
    background-color:gold;
}

#time-coutdown {
    font-size: 1.5rem;
    font-weight: bold;
}
.answer {
    padding-left: 20px;
}
.answer > span {
    display: block;
    /* width: 50%; */
    margin: 10px 0;
}
.answer > span > span{
    display: inline-block;    
    padding: 0 10px;
}
#question-contanier {
    display: none;
    font-size: 1.5em;
    padding: 10px 100px;
    background-color: rgb(175, 170, 170,0.35);
}
input[type="radio"] {
    transform: scale(1.5);
    cursor: pointer;
    
}
.correct {
    background-color: green;
}
._correct {
    background-color: green;
    border-bottom: 2px solid orangered;
    position: relative;
}
._correct::after {
    content: "\2713";
    color: blue;
    font-size:1.5em;
    margin-left: 20px;
    font-weight: bolder;
    position: absolute;
    right:  - 50px;
    top: -10px;
}

.incorrect {
    background-color: red;
}
#popup {
    position: fixed;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgb(0, 0, 0, 0.7);
}
#popup-confirm {
    margin: auto;
    border: 3px solid orangered;
    border-top: 15px solid orangered;
    font-size: 1.5rem;
    background: #fff;
    color: #000;
    border-radius: 5px;
    
}
#confirm-text{
    padding: 0 100px;
}
.confirm-icon {
    text-align: center;
    margin-top: 20px;
}
#confirm-btn {
    display: flex;
    justify-content:  space-evenly;
    margin: 20px;
}
#confirm-btn button {
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 5px;
    border: none; 
}
.btn-ok {
    background: green;
}
.btn-cancel {
    background:gold;
}

